<ion-content [fullscreen]="true">
  <div class="contendor">
    <div class="divLbs py-5">
      <label class="focus-in-contract-bck" style="font-family: 'Libre Baskerville', serif; color: #EC8F5E; font-weight: bold;">GAUNA TOMÁS</label>
      <label class="focus-in-contract-bck" style="font-family: 'Libre Baskerville', serif; color: #EC8F5E; font-weight: bold;">4° A</label>
    </div>
    <div class="contenedor-image slide-in-top">
      <img src="assets/logo.png">
    </div>
  </div>
</ion-content>
